/* Hero Background */
.candidate-hero {

    position: relative;
    height: 75vh;
    /* background: linear-gradient(rgba(10, 30, 60, 0.7),
            rgba(5, 45, 110, 0.75)),
        url("../images/slider-bg.webp") center/cover no-repeat; */
    background:
        url("../images/slider-bg.webp") center/cover no-repeat;
    color: #fff;
    overflow: hidden;
}

/* Overlay */
.candidate-hero::before {
    /* background: rgba(255, 255, 255, 0.15); */
    /* backdrop-filter: blur(10px); */
    /* border: 1px solid rgba(255, 255, 255, 0.25); */
    border-radius: 12px;
    /* box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2); */
    padding: 0.8rem 1.5rem;
    width: fit-content;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.candidate-hero .container {
    position: relative;
    z-index: 1;
}

/* Breadcrumb Styles */
.breadcrumb-item a {
    color: #ffffffcc !important;
    opacity: 0.8;
    transition: color 0.3s ease;
    text-decoration: none;
}

.breadcrumb-item a:hover {
    color: #ffffff;
}

.breadcrumb-item.active {

    color: #00c2ff !important;
    font-weight: 600;
}

.breadcrumb-item+.breadcrumb-item::before {
    color: #ffffffb3;
}